

DROP TABLE IF EXISTS `applications`;

CREATE TABLE `applications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `internship_id` int NOT NULL,
  `resume` varchar(200) NOT NULL,
  `internship_mode` varchar(20) NOT NULL,
  `domain` varchar(100) NOT NULL,
  `company_name` varchar(100) NOT NULL,
  `duration` varchar(50) NOT NULL,
  `paid_unpaid` varchar(20) NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Applied',
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `internship_id` (`internship_id`),
  CONSTRAINT `applications_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `applications_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internships` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;




LOCK TABLES `applications` WRITE;


UNLOCK TABLES;



DROP TABLE IF EXISTS `faculty`;

CREATE TABLE `faculty` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `department` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `faculty` WRITE;


UNLOCK TABLES;


DROP TABLE IF EXISTS `internships`;

CREATE TABLE `internships` (
  `id` int NOT NULL AUTO_INCREMENT,
  `faculty_id` int NOT NULL,
  `domain` varchar(100) NOT NULL,
  `company_name` varchar(100) NOT NULL,
  `contact` varchar(100) NOT NULL,
  `eligibility` varchar(100) DEFAULT NULL,
  `duration` varchar(50) NOT NULL,
  `paid_or_unpaid` varchar(20) NOT NULL,
  `internship_mode` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `faculty_id` (`faculty_id`),
  CONSTRAINT `internships_ibfk_1` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `internships` WRITE;


UNLOCK TABLES;



DROP TABLE IF EXISTS `students`;

CREATE TABLE `students` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `PRN` varchar(50) NOT NULL,
  `division` varchar(10) NOT NULL,
  `semester` varchar(10) NOT NULL,
  `branch` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `students` WRITE;


UNLOCK TABLES;
